TextElement {
    -unity-font-definition: resource('Fonts/Khronopix');
}

Label {
    -unity-font-definition: resource('Fonts/Khronopix');
}

Button {
    -unity-font-definition: resource('Fonts/Khronopix');
}

.tg-menu-button {
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    color: rgb(229, 229, 229);
}

.tg-menu-button:hover {
    scale: 1.1 1.1;
    background-color: rgba(0, 0, 0, 0);
    transition-property: scale;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out-elastic;
}

.tg-menu-button:active {
    color: rgb(255, 255, 255);
}

.tg-menu-panel {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.tg-loading-progressbar {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    color: rgba(255, 255, 255, 0);
}

.tg-loading-progressbar .unity-progress-bar__background {
    background-color: rgba(255, 255, 255, 0);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
}

.tg-loading-progressbar Label {
    -unity-font-style: bold;
    -unity-font-definition: resource('Fonts/KhronopixMono SDF');
    font-size: 22px;
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 2px;
    -unity-text-align: middle-left;
    translate: 0 2px;
}
